<!DOCTYPE html>
<html>
<body>


<div style="max-width:400px;">
  <header >
    <h3>My Shopping List</h3>
  </header>
  <ul >
    <li ng-repeat="x in products" >{{x}}<br><a href="#" ng-click="removeItem($index)"  >delete</a></li>
  </ul>
  <div >
    <div >
      <div >
        <input placeholder="Add shopping items here" ng-model="addMe" >
      </div>
      <div >
        <button ng-click="addItem()" >Add</button>
      </div>
    </div>
    <p >{{errortext}}</p>
  </div>
</div>

</body>
</html>
